h1,
p {
  font-family: Lato;
}

.footer {
  color: red;
}

.content {
  padding: 20px;
}

.link {
  padding-right: 2px;
}

.adres {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  letter-spacing: 2px;
}

.h1 {

}
